# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
main/node_modules

# testing
main/coverage

# production
main/build



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# user-specified
.~lock*
*.json
*.ico
*.md
/node_modules
